/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    overflow-y: auto;
}



*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

button {
    cursor: pointer;
}

/* ******* Header ******************* */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.logo-head {
    width: 45px;
    gap: 10px;
}

.logo-head img {
    width: 61.09px;
    height: 19px;
}

nav {
    padding: 0px 0px 40px 0px;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav button {
    background-color: transparent;
    border: none;
    width: 126px;
    font-size: 15px;
}

nav li {
    border-top: 2px solid transparent;
    padding-top: 20px;

}

nav button:hover {
    transition: 0.3s;
    color: var(--main-color);
}


nav li:hover {

    transition: 0.3s;
    border-top: 2px solid var(--main-color);

}




/* ************titre****************** */

.headline h1 {
    margin: 0 0 -12px 0;
}

.headline p {
    font-size: 16px;
    margin-bottom: 20px;
}

.Search-bar {
    display: flex;
    border-radius: 15px;

}

.search-bar-contener {
    display: flex;
    border: black 1px;
    border-radius: 15px;
    height: 49px;
    border-radius: 15px 0 0 0;
    background: rgb(255, 255, 255, 1);
    border: rgb(242, 242, 242, 1) solid 1px;
}

.search-bar-contener button {
    width: 50px;
    height: 49px;
    gap: 0;
    border-radius: 15px 0 0 15px;
    border: rgb(242, 242, 242, 1) solid 1px
}



input {
    border: none;
    outline: none;
}

input:hover {
    border: none;
}

input::placeholder {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 1);

}

input[type="text"]:focus::placeholder {
    color: transparent;

}

.button-text {
    padding: 12px 19px;
    border-radius: 0px 15px 15px 0px;
    background: rgba(0, 101, 252, 1);
    border: 1px solid;
    color: white;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    cursor: pointer;
    margin-left: -7px;
}

.search-button i.fas.fa-search {
    display: none;

}

.search-bar-contener .fa-solid {
    color: rgba(0, 0, 0, 1);

}

.recherche-container::placeholder {
    color: black;
}


.filterbar {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: auto;

    margin-bottom: 12px;
}


.filterbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 4px 19px 4px 0px;
    gap: 10px;
    border-radius: 25px 0px 0px 0px;
}


.filterbar button {
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    margin: 0 5px;
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    text-wrap: nowrap;
    width: 180px;
    min-width: 120px;

}


.filterbar button:hover {
    background-color: #DEEBFF;
    transition: 0.2s;
}

.filterbar p {
    font-size: 18px;
    margin-bottom: 5px;

}

.filterbar i {
    width: 22px;
    height: 22px;
    color: var(--main-color);
}

.infobar {
    margin: -20px 0 15px;
}

.infobarcontener {
    display: flex;
    align-items: baseline;
    gap: 10px;

}

.infobarcontener button {
    border: 1px solid #D9D9D9;
    background-color: white;
    border-radius: 200px;
}


/* ********Main Body********* */
.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    padding: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    margin: 20px 0;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    margin: 1px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



.offers {
    display: flex;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
}

.section-title {
    padding: 20px 20px 20px 0px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    margin: 0 auto;

}

.offers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 25px;
    justify-content: center;

}

.main-card {
    width: 100%;
    max-width: 240px;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
}

.offers-container img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: 5px solid transparent;
    padding: 2px 2px 0px 2px;
    box-sizing: border-box;
}



.main-c {
    padding: 0 15px 10px 15px;
    gap: 8px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    margin: 0 0 0 60px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-title {
    margin: 1px;

}

.card-subtitle {

    margin: 0px;

}

.populaires-cards .card-subtitle {
    margin: 10px 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.af {
    padding: 1%;
}




/* ***********************Activité à Marseille****************************** */

.activm {
    width: 100%;
}

.activ-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    padding: 0;

}

.activm-txt {
    padding: 20px 0 10px;
}

.farm {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    max-width: 280px;
}

.farmt {
    font-size: 1rem;
}

.ia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;

}


.farm .ia {
    object-fit: cover;
    max-width: 280px;
    max-height: 100%;
    height: 360px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}


.activmt {
    background-color: white;
    padding: 0 10px 0px 10px;
    border-radius: 20px;
    overflow: hidden;
    min-height: 30px;

}

.activm {
    margin: 0 auto;
}



/* *******************************footer********************* */


footer {
    margin: 50px 0 0;
}

.footerc {
    display: flex;
    justify-content: space-between;
    padding: 0 18% 0 1%;
    background: rgba(242, 242, 242, 1);
    flex-wrap: nowrap;
}



.tf {
    width: 77px;
    height: 21px;
    white-space: nowrap;
}


.ulc ul {
    list-style: none;
    padding: 0 50px 0 0;
}

.ulc li {
    padding: 7px 0;
}

.ulc button {
    border: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */



/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    body {
        margin: 0;
        padding: 0;
    }





    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin: 40px 50px 0 0;

    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* **************** */
    .activ-container {
        justify-items: normal;

    }

    .farm {
        border-radius: 5% 5%
    }

    .farm .ia {
        width: 100%;
        height: auto;
        max-width: 250px;
        height: 190px;


    }

    .farm img {
        width: 100%;

        opacity: 1;
    }



    .activmt {
        text-wrap: wrap;
        border-radius: 0 0 5% 5%;
        overflow: hidden;

        display: flex;
        align-items: center;

    }

    .filterbar {
        margin-top: -10px;
    }



    .filterbarc ul {
        flex-wrap: wrap;
        margin-right: 10%;

    }


    .filterbarc {
        max-width: 100%;
        max-height: 100%;
    }

    .filterbarc button {
        flex-wrap: nowrap;
        margin: 0;
        box-sizing: border-box;

    }

    .filterbarc p {
        width: 900px;
        max-width: 100%;
        padding-right: 100%;
    }



}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /* ... */
    .main-container {
        margin: 0;
        padding: 0;
    }

    header {
        display: block;
        padding: 0;
    }

    .logo-head {
        margin: 22px auto;

    }


    nav li {
        text-align: center;
        border-bottom: 2px solid white;
        padding-bottom: 10px;
        width: 100%;
    }

    nav li:hover {

        transition: 0.3s;
        border-top: 2px solid transparent;
        border-bottom: 2px solid var(--main-color);

    }

    .headline h1 {
        font-size: 22px;
        font-weight: 700;
        line-height: 25.83px;
        text-align: left;
    }

    .headline p {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.78px;
        text-align: left;

    }

    section .Info-group {
        margin: 0px 0 0 25px;
    }


    /* **************************** */

    .search-bar-contener {
        text-wrap: nowrap;
    }

    input[name="q"] {
        font-family: Raleway;
        font-size: 80%;
        font-weight: 700;
        line-height: 21.13px;
        text-align: center;
    }

    .search-button .button-text {
        display: none;
        border-radius: 15px;
    }

    .search-button i.fas.fa-search {
        display: inline-block;
        margin-left: -5px;
        width: 49px;
        height: 49px;
        padding: 18px;
        gap: 10px;
        border-radius: 15px;
        border: 1px solid transparent;
        background-color: #0065FC;
        color: white;

    }


    /* ******************** */
    .filterbar {
        display: flex;

    }

    .filterbarc ul {
        flex-wrap: wrap;
        justify-content: center;

    }

    .filterbarc li {
        max-width: 100%;
    }





    /* ********************************** */
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }


    .hebergements-and-populaires section {
        background-color: white;
    }

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card {
        width: 340%;
    }

    .hebergements {
        padding-left: 0px;
    }

    .hebergements-title {
        background-color: white;
    }

    .offers-container {
        display: grid;
        grid-template-columns: repeat(1, 6fr);
        grid-template-rows: auto;
        background-color: white;
        gap: 25px;
        justify-items: center;
    }

    .main-card {
        max-width: 100%;
        width: 100%;

    }

    .farm {
        width: 100%;

    }

    .main-card img {
        max-width: 100%;
        max-height: 100%;
        width: 6800px;
        object-fit: cover;
    }

    /* **************************** */

    .activm {
        padding: 20px 20px;

    }


    .activ-container {
        display: grid;
        grid-template-columns: repeat(1, 4fr);
        gap: 15px;
        justify-items: center;

    }


    .farm {
        width: 100%;
        max-width: 640px;
        text-align: center;
        border-radius: 9px;
    }

    .farm .ia {
        width: 700px;
        max-width: 98%;
        height: 90px;
        max-height: 100%;
        object-fit: cover;

    }

    /* ********************************************* */
    footer {
        background-color: var(--main-bg-color);
    }

    .footerc {
        padding: 0 0 0px 25px;
        flex-direction: column;

    }

}